@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}




.headbar{
	background-repeat: repeat-x;
	width: 100%;
	height: 50px;
	max-height: 128px;
	background-image: url("../Resources/mainBar.png");
}


.footer{
  width:100%;
}

body{
  padding:0;
  background-color:#0d0d0d;
  margin:0;

}

#logo{
  margin:20px auto;
  width: 30%;
  height: auto;
}

.content{
  text-align: center;

}

#featuredMain{
 
  margin: 10;
  width: 990px;
  height: 400px;

}

#featuredSecondary{
  width:300px;
  height:300px;
  margin: 10;
}

.featuredMainContainer{

  margin: 50 20;
  width: auto;
  background:#000000;
  border: 1px solid #292929;
  border-radius: 5px;

  position:relative;
  transition:all 0.3s;
  -webkit-transition:all 0.3s;
  -moz-transition:all 0.3s;
  vertical-align:middle;
  display:inline-block;
}

.featuredMainContainer:hover{

  border-style:solid;
  border-radius: 5px;
  border-color:#9f6b19;
  border-width:1px;

}


.featuredSecContainer{

  margin: 50 20;
  width: auto;
  background:#000000;
  border: 1px solid #292929;
  border-radius: 5px;

  position:relative;
  
  transition:all 0.3s;
  -webkit-transition:all 0.3s;
  -moz-transition:all 0.3s;

  vertical-align:middle;
  display:inline-block;
}

.featuredSecContainer:hover{

  border-style:solid;
  border-radius: 5px;
  border-color:#9f6b19;
  border-width:1px;
  
}


#secImages{
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
  margin-bottom:50px;

}

.hrHorizontal{

  background-color:#373737;
  height:1px;
  width: 90%;
  margin:auto;
}

.hrVertical{

  background-color:#373737;
  height:350px;
  width: 1px;
}

#copyright{

  text-decoration:none;
  color:#707070;
  font-size:18px;
  font-family:'Roboto Condensed', Verdana, Arial, sans-serif;
  margin: 10px 0;
}

.homepageDescription{

  font-family:'Roboto Condensed', Verdana, Arial, sans-serif;
  font-size: 26px;
  color: white;
  margin: 50px auto;
  padding: 0px 50px;
  text-align: center;
}

.cpyRight{
  text-align:center;
  padding: 15px 0;

}

.menuText{
  text-decoration:none;
  color:#909090 ;
  font-size:16px;
  font-family:Verdana;
}

#userPanelIcon{
  height:28px;
  width:26px;
  padding-left: 60px;
  padding-bottom: -2px;
}

#menuIcon{
  padding-bottom: 4px;
}

#searchBox{
  padding-left:8px;
  width:450px;
  height:23px;
  background:#252525;
  border-color:#323232;
  border-style:solid;
  border-width:1px;
  color:#909090;
}

#searchIcon{
  padding:5px;
}



#nav{
  list-style:none;
  padding: 10px 0px;
  height: 30px;
}

#nav li{
  display: inline-block;
}


.hoverli1{
  width: 120px;
  float: left;
  padding-left: 50px;
  z-index: 100;
  position: absolute;
}

.hoverli2{
  float: right;
  z-index: 100;
  position: absolute;
  right: 0;
  
}

.hoverli1:hover .menu1{
display:block;

}

.hoverli2:hover .menu2{
display:block;

}

#nav .menu1 li{
  display: block;
  padding: 10px;
  border: 1px solid #202020;
}

#nav .menu2 li{
  display: block;
  padding: 10px;
  border: 1px solid #202020;
}

.menu1{
  margin-top: 12px;
  width: 150px;
  background:#292929;
  margin-left: -50px;
  display: none;

}

.menu2{
  margin-top: 12px;
  width: 150px;
  background:#292929;
  display: none;
}

.home{
  margin-left: 160px;
  color: #F2F2F2;
  font-size: 30px;
  font-family: "Roboto Condensed", Arial, sans-serif;

}

.home:hover{
  color: #999999;
}

.navText{
  text-decoration:none;
  color:#909090 ;
  font-size:15px;
  font-family:Verdana;
}

.navText:hover{
  color: #727272;
}

.description{
  margin:0 auto;
  width:95%;
  background:#000000;
  border:#1a1a1a 1px solid;
  text-align: left;
}

.descriptionTA{
  margin:10 20;

}

.wrapperAnunt{
  padding:25px 50px 25px 50px;

}

#anunt{
  border:#1a1a1a 1px solid;
  width:100%;
  background: #000000;

}

.titleAnunt{
  font-family:Verdana;
  font-size:20px;
  padding:15px;
  color:orange;
  background:#050505;
  border:#101010 1px solid;
}

#descriere{
  color:white;
  padding:10px;
  padding: 15px;
  padding-top: 0px;
}

.descriereConcurs{
  color:white;
  padding: 10px;
  padding-top: 0px;
}

.date{
  float:right;
  display: inline-block;
}

.wrapperConcurs{
  padding:25px 50px 25px 50px;

}

.imageTitle{
  text-align:center; 
  padding-top:10px;
  font-size:14px;
  font-family: Verdana, Arial, sans-serif;
  color: #f2f2f2;
}

#concurs{
  border:#1a1a1a 1px solid;
  width:100%;
  background: #000000;
  height: auto;
  display: block;

}

#canVote{
  padding:10px;
  background:#050505;
  border:#101010 1px solid;
  font-family:Verdana;
  font-size:16px;
  color:purple;
}

#canParticipate{
  padding:10px;
  background:#050505;
  border:#101010 1px solid;
  font-family:Verdana;
  font-size:16px;
  color:red;
}

#canComment{
  padding:10px;
  background:#050505;
  border:#101010 1px solid;
  font-family:Verdana;
  font-size:16px;
  color:green;
}

#upload{
  padding:10px;
  background:#050505;
  border:#101010 1px solid;
  color:white;
  font-family:Verdana;
  font-size:14px;
}

.concursuriWrapper{
  margin:50px auto;
  width:90%;
}

.concurs{
  display:inline-block;
  vertical-align:middle;
  position:relative;
  width:100%;
  border:#2a2a2a 1px solid;
  padding-bottom:5px;
  background:#101010;
  margin-bottom:1px;
}

.textConcurs{
  font-family: Verdana, Arial, sans-serif;
  padding: 5px 0px;
  color: orange;
  display: inline-block;
}

.headerConcurs{
  display:inline-block;
  font-size: 16px;
}

.titleConcurs{
  color:orange;
  margin:5px;
  margin-bottom: 0px;
  font-size: 20px;
  font-family: Verdana, Arial, sans-serif;
  padding:10px;
  background:#000000;

}

.footerConcurs{
  height: auto;
  display: block;
}

.linkConcurs{
  font-family: 'Roboto Condensed', Verdana, sans-serif;
  color: orange;
  font-size: 20px;

}

.linkConcursContainer1{
  padding: 20px;
  padding-top: 5px;
  display: inline-block;
}

.linkConcursContainer2{
  padding: 20px;
  padding-top: 5px;
  display: inline-block;
  float: right;
}

.winnerText{
  font-size: 16px;
  font-family: Verdana, Arial, sans-serif;
}

.winner{
  display: inline-block;
  color: orange;
}

.titleOrange{
  font-size: 20px;
  font-family: Verdana, Arial, sans-serif;
  color: orange;
  padding-top: 5px;
  padding-bottom: 10px;
}


.titleAnunt{
  color:orange;
  font-family:Verdana;
  margin:15px 20px;
}

.descriere{
  font-family:Verdana;
  color:#5a5a5a;
  margin:10px 0px;
  padding: 10px 0;
}

.data{
  float:right;
  font-family:Calibri;
  font-size:14px;
  display:inline-block;
  color:orange;
  padding-right:10px;
  margin-top:10px;
  margin-bottom: 5px;
}

.hrHorizontalConcurs{
  margin:auto;
  background-color:#373737;
  height:1px;
  width: 95%;
}

.creation{
  margin:50px auto;
  color:white;
  width:70%;
  background: #000000;
  border: 1px solid #212121;
  padding: 20px;
}

.text{
  font-family:Verdana;
  font-size:16px;
  padding-bottom:10px;
  padding-top: 5px;
}

.inputSt{
  width:250px;
  padding:5px;
  background:#101010;
  border: 1px solid #313131;
  color:white;
}


.textarea{
  color:white;
  resize:none;
  background:#101010;
  border: 1px solid #313131;
  width:500px;
  height:150px;
}

.submitButton{
  color:#575757;
  background:#090909;
  border: 1px solid #313131;
  width:150px;
  height:30px;

}


.submit{
  padding:10 0px;
}

.submitAnnouncement{
  margin: 10px 10px;
  padding: 10px 0px;
}

.inputCr{
  padding:5px;
  background:#101010;
  border: 1px solid #313131;
  display:inline-block;
}

.inputData{

  width:100px;
  padding:5px;
  background:#101010;
  border: 1px solid #313131;
  color:white;
}


.dates{
  padding:10px;
  background:#000000;
  border: 1px solid #101010;

}

.voteCond{
  padding:10px;
  background:#000000;
  border: 1px solid #101010;

}

.dropDown{
  background:#101010;
  border: 1px solid #313131;
  color:white;
  width:200px;
}


.participateCond{

  padding:10px;
  background:#000000;
  border: 1px solid #101010;

}

.commentCond{

  padding:10px;
  background:#000000;
  border: 1px solid #101010;

}

.wrapperImages{
  text-align:center;
  margin:25 0;

}

.imageContainer{
  width:auto;
  position:relative;
  margin:13 20;
  border-style:solid;
  border-color:#292929;
  border-radius: 5px;
  border-width:1px;
  vertical-align:middle;
  display:inline-block;
  background:#000000;

  transition:all 0.2s;
  -webkit-transition:all 0.2s;
  -moz-transition:all 0.2s;
}

#mainBar{
  z-index:5;
  display:none;
  position:relative;
  margin-top:-30px;
  border-radius: 5px;
  border-bottom: 1px;
  width:100%;
  height:5%;
  background:#000000;
}



.imageContainer:hover #mainBar{
  display:block;
}


.imageContainer:hover{

  border-style:solid;
  border-radius: 5px;
  border-color:#9f6b19;
  border-width:1px;
  
}

.image{
  width:300px;
  height:300px;
  z-index:-1;
  margin:7 7;
}

.clear{
  clear:both;
  line-height:0 ;
}

#imageContainer{
  text-align: center;
  padding: 20px;
}

#image{
  max-width: 100%;
  height: auto;

}


#details{
  left:-1;
  background:#000000;
  width: 400px;
  border-color:#373737;
  border-style:solid;
  border-width:1px;
  vertical-align:top;
  padding: 6px;
}

#inWrapper{
  margin-top:10px;
  color:white
}

.title{
  font-family:'Roboto Condensed', Verdana, Arial, sans-serif;
  font-size:22px;
  padding:5px 10px 10px 10px;
  color:orange;
}

.titlePost{
  font-family:'Roboto Condensed', Verdana, Arial, sans-serif;
  font-size:22px;
  padding:5px 10px 10px 20px;
  color:orange;
}

.titleUpload{
  font-family:'Roboto Condensed', Verdana, Arial, sans-serif;
  font-size:22px;
  padding:5px 10px 10px 5px;
  color:orange;
}

.uplDate{
  font-family:Verdana;
  font-size:14px;
  padding:10px 20px 10px 20px;
  border-bottom:#373737 1px solid;
}

.concursChk{
  font-family:Verdana;
  font-size:14px;
  padding:10px 20px 10px 20px;
  border-bottom:#373737 1px solid;
}

.likes{
  font-family:Verdana;
  font-size:14px;
  padding:10px 20px 10px 20px;
  border-bottom:#373737 1px solid;
}

.dislikes{
  font-family:Verdana;
  font-size:14px;
  padding:10px 20px 10px 20px;
  border-bottom:#373737 1px solid;
}

.vote{
  font-family:Verdana;
  font-size:16px;
  padding:10px 20px 10px 20px;
  border-bottom:#373737 1px solid;

}

.comments{
  border-bottom:#373737 1px solid;
  padding:5px 5px 5px 5px;
  max-height:300px;
  overflow-y:scroll;

}

.comment{
  margin:5px 0;
  padding:5px 5px 5px 5px;
  border:#272727 1px solid;
  max-width: 400px;
  background: #030303;
}

.avatar{
  width:50px;
  height:50px;
  margin:5px 0;
  margin-left: 5px;
  vertical-align:middle;
  background-size:cover;
  border:#272727 1px solid;
  border-radius: 5px;
}

.commentZone{
  vertical-align:top;
  width:75%;
  display:inline-block;
}

.avatarZone{
  vertical-align:middle;
  width:18%;
  display:inline-block;
  border-radius: 5px;
}

.deleteZone{
  float: right;
  display:inline-block;
  color: #d35400;
  font-family:'Roboto Condensed', Verdana, Arial, sans-serif;
  text-decoration: none;
  margin-right: 5px;
  margin-top: 4px;
  vertical-align:top;
}

.user{
  color:orange;
  margin-top:4px;
  margin-bottom: 4px;
  font-family:Verdana;
  font-size:15px;
}

.commentText{
  font-family:Verdana;
  font-size:13px;
  overflow:ellipsis;
  direction:ltr;
  word-wrap: break-word;
  margin-bottom: 4px;
}

.addComment{
  font-family:Verdana;
  font-size:15px; 
  margin:5px 0;

}

.commentWarning{
  font-family:Verdana;
  font-size:12px;
  margin:5px 0; 
  color:orange;
}

.postComment{
  padding:10px 10px 10px 10px;
  margin:5px 5px;
  border:#272727 1px solid;
}

.textareaComment{
  width:100%;
  height:65px;
  background:#0F0F0F;
  border:#474747 1px solid;
  color:white;
  font-family:Calibri;
  resize:none;
}

.submitComment{
  margin:10px 0px 0px 0px;
  background:#000000;
  color:white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  border:none;
}


.anunturiWrapper{
  margin:50px auto;
  width:90%;
}

.anunt{

  display:inline-block;
  vertical-align:middle;
  position:relative;
  width:100%;
  border:#2a2a2a 1px solid;
  padding-bottom:5px;
  background:#000000;
  margin-bottom:1px;
}


.titlex{
  color:orange;
  font-family:Verdana;
  margin:15px 20px;
}

.hrHorizontalAnunt{
  margin:auto;
  background-color:#373737;
  height:1px;
  width: 100%;
  margin: 10px 0;
}

.hrHorizontalGlobal{
  margin:auto;
  background-color:#373737;
  height:1px;
  width: 100%;
  margin: 10px auto;
}

.upload{
  padding:10px 10px 10px 0px;
}

.uploadInput{
  background:#101010;
  border: 1px solid #313131;
  color:white;
  margin-top: 10px;
}

a{
  text-decoration:none;
  color:inherit;
}

.info{
  border:1px solid #202020;
  padding:5px;
  background:#090909;
}

.inform{
  padding:10px;
  background:#000000;
  border:1px solid #202020;
  margin: 5px 0 10px 0;

}

.text2{

  font-family:Verdana;
  font-size:13px;
  display:inline-block;
}

.status{

  padding:10px;
  background:#000000;
  border:1px solid #202020;

}

.name{
  padding-bottom: 10px;

}

.email{
  padding-bottom: 10px;
}

.username{
  padding-bottom: 10px;
}

.parola{
  padding-bottom: 10px;
}

.uploads{

  margin:10px 0 0 0 ;
  padding:10px;
  background:#000000;
  border:1px solid #202020;

}

.avatarUP{
  width:100px;
  height:100px;
  padding:2px;
  margin:5px;
  margin-left: 25px;
  background:#1a1a1a;
  border: 1px solid #272727;
}

.avatarImg{
  width:50px;
  height:50px;
}

.contentUP{
  margin: 25px auto;
  border:1px solid #212121;
  padding:15px;
  width: 80%;
  background: #000000;

}

.headerUP li{
  display: inline-block;
  vertical-align: middle;

}

.nameUp{
  margin-left: 30px;
  color: orange;
  font-size: 30px;
  vertical-align: top;
  font-family: 'Roboto Condensed', Helvetica, Verdana, sans-serif;

}

.field{
  margin-top: 10px;
  padding: 10px;

}

.textUP{
  color: #999999;
  font-size: 14px;
  font-family: Verdana, Arial, sans-serif;
  padding: 5px 0;
}

.titleUP{
  color: orange;
  font-size: 18px;
  font-family: Verdana, Arial, sans-serif;
  padding: 5px 10px;

}

.submitButtonUP{
  color:#575757;
  background:#090909;
  border: 1px solid #313131;
  width:150px;
  height:30px;

}

.submitUP{

  margin: 15px 0 0 0;

}

.linkCont{
  padding: 10px;
  margin-left: 10px;
}

.link{
  color: orange;
  font-size: 18px;
  font-family: Verdana, Arial, sans-serif;
  text-decoration: underline;
}


.paginationStyle{


}

#loginTitle{
  color:orange; 
  font-size:20px;
  font-family: Verdana, Arial, sans-serif;
}

.namesCopyright{
  font-size: 20px;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  color: orange;
  padding-top: 5px;
  padding-bottom: 10px;
  display: inline-block;
}

.titleCopyright{
  font-size: 24px;
  font-family: Verdana, Arial, sans-serif;
  color: #f2f2f2;
  padding-top: 5px;
  padding-bottom: 10px;
  display: inline-block;
}

.textCopyright{
  font-family:Verdana;
  font-size:16px;
  padding-bottom:10px;
  padding-top: 5px;
  display: inline-block;
  color: white;
}

.likesSpan{
  color:#0a8c26; 
  float:right;
}

.dislikesSpan{
  color:#CF000F; 
  float:right;
}

.likeSpan{
  color:#0a8c26; 
  float:left;
  font-family:'Roboto Condensed', Verdana, Arial, sans-serif;
}

.deleteSpan{
  color: #d35400;
  margin-left: 33%;
  font-family:'Roboto Condensed', Verdana, Arial, sans-serif;
}

.dislikeSpan{
  color:#CF000F; 
  float:right;
  font-family:'Roboto Condensed', Verdana, Arial, sans-serif;
}

.like{
  text-decoration:none;
}

.delete{
  text-decoration:none;
}

.dislike{
  text-decoration:none;
}

.rAlign{
  float:right;
}

.lAlign{
  float:left;
}

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-track {
      background-color: #000000;
}
::-webkit-scrollbar-thumb {
      background-color:#474747;
}
::-webkit-scrollbar-button {
      background-color: #00000;
}
::-webkit-scrollbar-corner {
      background-color: black;
}